<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${pageTitle}"></title>
	<link rel="stylesheet" href="/css_admin/__base.css">
	<script
			src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
</head>
<body class="bg-[#f9fafb]">

<div class="relative flex flex-row justify-between items-start">
	<!--  START SIDEBAR-->
	<aside
			class="w-64 flex-shrink-0 sticky top-0 left-0 px-2 h-screen z-10 bg-white border-r border-slate-200">
		<div class="h-16 w-full flex flex-row justify-start items-center">
			<figure class="w-16 h-16 overflow-hidden">
				<img th:src="@{/imgs/logo.png}" alt=""
					 class="w-full h-full object-cover rounded-full">
			</figure>
			<span class="font-bold text-lg"> TUIS G16 </span>
		</div>
		<div class="w-full flex flex-col justify-start items-center">
			<a href="/admin/all" class="option"> <svg
					xmlns="http://www.w3.org/2000/svg" width="24" height="24">
				<path
						d="M22 8a.76.76 0 0 0 0-.21v-.08a.77.77 0 0 0-.07-.16.35.35 0 0 0-.05-.08l-.1-.13-.08-.06-.12-.09-9-5a1 1 0 0 0-1 0l-9 5-.09.07-.11.08a.41.41 0 0 0-.07.11.39.39 0 0 0-.08.1.59.59 0 0 0-.06.14.3.3 0 0 0 0 .1A.76.76 0 0 0 2 8v8a1 1 0 0 0 .52.87l9 5a.75.75 0 0 0 .13.06h.1a1.06 1.06 0 0 0 .5 0h.1l.14-.06 9-5A1 1 0 0 0 22 16V8zm-10 3.87L5.06 8l2.76-1.52 6.83 3.9zm0-7.72L18.94 8 16.7 9.25 9.87 5.34zM4 9.7l7 3.92v5.68l-7-3.89zm9 9.6v-5.68l3-1.68V15l2-1v-3.18l2-1.11v5.7z"></path>
			</svg> <span class="text-black">QL Đơn hàng</span>
			</a> <a href="/admin/customers/all" class="option bg-slate-200"> <svg
				xmlns="http://www.w3.org/2000/svg" width="24" height="24">
			<path
					d="M12 2a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z"></path>
		</svg> <span class="text-black">QL Khách hàng</span>
		</a> <a href="/admin/products/all" class="option "> <svg
				xmlns="http://www.w3.org/2000/svg" width="24" height="24">
			<path
					d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path>
		</svg> <span>QL Sản phẩm</span>
		</a>
		</div>

	</aside>
	<!--  END SIDEBAR-->
	<div class="w-9/12 relative flex-1 flex flex-col justify-start items-center">
		<!--  START HEADER-->
		<header
				class="w-full h-16 shadow-md z-30 bg-white flex-shrink-0 sticky top-0 right-0"
				th:insert="view_admin/header.html"></header>
		<!--  END HEADER-->

		<main class="relative w-full px-5 py-3 mt-2 h-screen flex-1 flex flex-col justify-start items-start">
			<div class="w-full">
				<p class="font-medium text-2xl">
					Quản lí khách hàng
				</p>
			</div>
			<div class="w-full mt-6 bg-transparent flex flex-row justify-start items-start">
				<div class="w-64 mr-5 h-20 border border-slate-300 shadow-sm rounded-md px-3 py-3 bg-white flex flex-row justify-between items-center">
					<div class="w-1/4 h-full flex-shrink-0 flex flex-col justify-center items-center">
						<figure class="w-11 h-11 rounded-full bg-cyan-600 flex flex-row justify-center items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="fill-gray-100">
								<path d="M12 2a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z"></path>
							</svg>
						</figure>
					</div>
					<div class="ml-4 h-full flex-1 flex flex-col justify-between items-start">
						<p class="text-slate-900">
							Tổng số khách hàng
						</p>
						<p class="text-xl font-medium" th:text="${userGenderTotal}"></p>
					</div>
				</div>
				<div class="w-64 mr-5 h-20 border border-slate-300 shadow-sm rounded-md px-3 py-3 bg-white flex flex-row justify-between items-center">
					<div class="w-1/4 h-full flex-shrink-0 flex flex-col justify-center items-center">
						<figure class="w-11 h-11 rounded-full bg-indigo-600 flex flex-row justify-center items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="fill-gray-100">
								<circle cx="12" cy="4" r="2"></circle><path d="M15 7H9a1 1 0 0 0-1 1v7h2v7h4v-7h2V8a1 1 0 0 0-1-1z"></path>
							</svg>
						</figure>
					</div>
					<div class="ml-4 h-full flex-1 flex flex-col justify-between items-start">
						<p class="text-slate-900">
							KH Nam
						</p>
						<p class="text-xl font-medium" th:text="${userGenderMale}"></p>
					</div>
				</div>
				<div class="w-64 mr-5 h-20 border border-slate-300 shadow-sm rounded-md px-3 py-3 bg-white flex flex-row justify-between items-center">
					<div class="w-1/4 h-full flex-shrink-0 flex flex-col justify-center items-center">
						<figure class="w-11 h-11 rounded-full bg-emerald-600 flex flex-row justify-center items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="fill-gray-100">
								<circle cx="12" cy="4" r="2"></circle><path d="M14.948 7.684A.997.997 0 0 0 14 7h-4a.998.998 0 0 0-.948.684l-2 6 1.775.593L8 18h2v4h4v-4h2l-.827-3.724 1.775-.593-2-5.999z"></path>
							</svg>
						</figure>
					</div>
					<div class="ml-4 h-full flex-1 flex flex-col justify-between items-start">
						<p class="text-slate-900">
							KH Nữ
						</p>
						<p class="text-xl font-medium" th:text="${userGenderFemale}"></p>
					</div>
				</div>
			</div>
			<div class="w-full mt-6 flex flex-row justify-between items-center">
				<div class="flex flex-row justify-start items-center">
					<div class="relative mr-3">
						<div class="admin-customer-viewOptions-title cursor-pointer rounded-md flex flex-row justify-between items-center px-5 py-3 border-2 border-slate-600 transition-all duration-200 hover:border-blue-600">
							<span class="font-medium mr-3 pointer-events-none" th:text="${customerFilterOption}"></span>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);" class="admin-customer-viewOptions-icon pointer-events-none transform transition-all duration-200">
								<path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
							</svg>
						</div>
						<div class="admin-customer-viewOptions z-50 absolute top-8 left-0 transition-all duration-200 flex flex-col justify-start items-start px-2 py-2 w-56 border border-slate-400 shadow-lg rounded-md bg-white opacity-0 invisible">

<!-- 							<a th:href="@{/admin/customers/all}" class="admin-customer-view-option"> -->

							<a  href="/admin/customers/all" class="admin-customer-view-option">

								Tất cả khách hàng
							</a>
							<a href="/admin/customers/male" class="admin-customer-view-option">
								Khách hàng nam
							</a>
							<a href="/admin/customers/female" class="admin-customer-view-option">
								Khách hàng nữ
							</a>
						</div>
					</div>
				</div>
				<div class="relative">
					<div>
						<input type="search" placeholder="Tìm theo mã, số điện thoại, tên khách hàng"
							   class="order-search-input w-96 rounded-md text-sm outline-none pl-10 pr-2 py-3 border border-slate-400 transition-all focus:border-blue-600">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);"
							 class="absolute top-1/2 left-2 transform -translate-y-1/2">
							<path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path>
						</svg>
					</div>
					<div class="search-order-suggesstion-container opacity-0 invisible z-50 bg-white absolute top-full mt-1 w-96 border border-slate-300 shadow-md rounded-md px-1 py-1">

					</div>
				</div>
			</div>
			<div class="w-full max-h-[400px] overflow-auto mt-6">
				<table class="w-full rounded-md relative bg-white">
					<tr class="sticky top-0 left-0 bg-slate-200 border-b border-slate-300 text-center font-medium">
						<td class="w-1/12 rounded-tl-md">Mã</td>
						<td class="w-2/12">Họ</td>
						<td class="w-1/12">Tên</td>
						<td class="w-2/12">Email</td>
						<td class="w-3/12">Địa chỉ</td>
						<td class="w-2/12 py-3">Số điện thoại</td>
						<td class="w-1/12">Giới tính</td>
					</tr>
					<th:block th:each="user: ${users}">
						<tr class="border-b border-slate-300 text-center">
							<td th:text="${user.customerId}"></td>
							<td th:text="${user.firstName}"></td>
							<td th:text="${user.lastName}"></td>
							<td class="font-medium" th:text="${user.email}"></td>
							<td class=" py-3" th:text="${user.address}"></td>
							<td th:text="${user.phone}"></td>
							<td>
								<span class="inline-block w-14 font-medium py-2 text-sm text-white rounded-md bg-emerald-600" th:if="${user.gender} == 'Nữ'">Nữ</span>
								<span class="inline-block w-14 font-medium py-2 text-sm text-white rounded-md bg-indigo-600" th:if="${user.gender} == 'Nam'">Nam</span>
							</td>
						</tr>
					</th:block>
				</table>
			</div>
			<div class="w-full h-96 mt-6 px-5 py-5 bg-white border border-r-slate-400 shadow-md rounded-md flex flex-row justify-center items-center">
				<div class="w-96 h-full px-5 py-5 flex flex-col justify-center items-center">
					<p class="mt-2 font-medium text-xl text-center">Cơ cấu khách hàng theo giới tính</p>
					<canvas id="order-pie-chart"></canvas>
				</div>
			</div>
		</main>
</div>
</div>

<!-- SCRIPT FOR MAKING ANIMATION OF HEADER AND FOOTER -->
<script src="/script_admin/header.js"></script>
<script src="/script_admin/customers_manager.js" defer></script>
<script src="/script_admin/customer-chart.js"></script>
</body>
</html>