<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>th:text="${pageTitle}"</title>
</head>
<body>
    <!-- HEADER -->
    <header class="header" th:insert="view_customer/header.html"></header>

    <!-- SUB HEADER -->
    <div class="sub_header" th:insert="view_customer/sub_header.html"></div>

    <!-- MAIN CONTENT -->

    <!-- FOOTER -->
    <footer class="footer" th:insert="view_customer/footer.html"></footer>
</body>
<script src="script_customer/header_footer-control.js"></script>
</html>