<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}"></title>
      <link rel="icon" th:src="@{/imgs/logo.png}">
      <link rel="stylesheet" href="/css_customer/__base.css">
</head>
<body>
    <header class="header" th:insert="view_customer/header.html"></header>

    <div class="sub__header" th:insert="view_customer/sub_header.html"></div>

    <div class="products__container w-full px-3 sm:px-4 md:px-10 lg:px-32 py-4 z-20">
      <div class="products__title py-5 md:py-8 lg:py-10">
        <h1 class="products__label font-medium text-3xl" th:text="${pageTitle}">
        </h1>
        <p class="products__matchnumber text-slate-700 mt-1">
          <span class="products__number" th:text="${resultSize}"></span>
          sản phẩm
        </p>
      </div>
      <div class="products__filters-container relative flex flex-col justify-start items-start">
        <div class="products__filters-wrapper w-full py-6 relative">
          <button class="filters-navigation-btn filters-moveToLeft">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);" class="svg-icon">
              <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"></path>
            </svg>
          </button>
          <div class="products__filters-list w-full flex flex-row justify-start items-center flex-nowrap overflow-x-scroll scroll">
            <button class="filter-btn filter-sort">
              <span class="filter-title">
                Sắp xếp
              </span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);" class="svg-icon chevron-sort">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 17.0605 3.9992 9.0593l1.4142-1.4141L12 14.2322l6.5869-6.586 1.4141 1.4143-8.0011 8z"></path>
              </svg>
            </button>
            <button class="filter-btn filter-brand">
              <span class="filter-title">
                Thương hiệu
              </span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);" class="svg-icon chevron-brand">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 17.0605 3.9992 9.0593l1.4142-1.4141L12 14.2322l6.5869-6.586 1.4141 1.4143-8.0011 8z"></path>
              </svg>
            </button>
            <button class="filter-btn filter-color">
              <span class="filter-title">
                Màu sắc
              </span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);" class="svg-icon chevron-color">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 17.0605 3.9992 9.0593l1.4142-1.4141L12 14.2322l6.5869-6.586 1.4141 1.4143-8.0011 8z"></path>
              </svg>
            </button>
            <button class="filter-btn filter-price">
              <span class="filter-title">
                Giá cả
              </span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);" class="svg-icon chevron-price">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9999 17.0605 3.9992 9.0593l1.4142-1.4141L12 14.2322l6.5869-6.586 1.4141 1.4143-8.0011 8z"></path>
              </svg>
            </button>
          </div>
          <button class="filters-navigation-btn filters-moveToRight">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);" class="svg-icon">
              <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"></path>
            </svg>
          </button>
        </div>
        <div class="products__options-wrapper w-full h-auto fixed md:relative lg:relative bottom-0 left-0 flex flex-row justify-between items-center z-50">

          <div class="products-options products-options-sort">
            <a href="/products/all/filter?sort=1" class="products__option products__option-sort">
              <span  class="products__option-title">
                Tên: A - Z (tăng dần)
              </span>
              <input type="radio" name="products__filter-sort" class="products__option__sort-check" id="products__option-sort" value="bestMatch" checked>
            </a>
            <a href="/products/all/filter?sort=2" class="products__option products__option-sort">
              <span class="products__option-title">
                Tên: Z - A (giảm dần)
              </span>
              <input type="radio" name="products__filter-sort" class="products__option__sort-check" id="products__option-popular" value="popular">
            </a>
            <a href="/products/all/filter?sort=3" class="products__option products__option-sort">
              <span class="products__option-title">
                Giá: từ thấp lên cao
              </span>
              <input type="radio" name="products__filter-sort" class="products__option__sort-check" id="products__option-priceLowToHeight" value="priceLowToHeight">
            </a>
            <a href="/products/all/filter?sort=4" class="products__option products__option-sort">
              <span class="products__option-title">
                Giá: từ cao xuống thấp
              </span>
              <input type="radio" name="products__filter-sort" class="products__option__sort-check" id="products__option-priceHeightToLow" value="priceHeightToLow">
            </a>
          </div>
          <div class="products-options products-options-brand">
            <div class="products__option products__option-brand">
              <span class="products__option-title">
                Gu chì
              </span>
              <input type="checkbox" name="products__filter-brand" class="products__option-checkbox products__option__brand-check" id="products__option-gucci" value="gucci">
            </div>
            <div class="products__option products__option-brand">
              <span class="products__option-title">
                Luôn vui tươi
              </span>
              <input type="checkbox" name="products__filter-brand" class="products__option-checkbox products__option__brand-check" id="products__option-luoisvuitton" value="luoisvuitton">
            </div>
            <div class="products__option products__option-brand">
              <span class="products__option-title">
                Hơ mẹt
              </span>
              <input type="checkbox" name="products__filter-brand" class="products__option-checkbox products__option__brand-check" id="products__option-hermet" value="hermet">
            </div>
          </div>
          <div class="products-options products-options-color">
            <div class="products__option products__option-color">
              <span class="products__option-title">
                Đỏ
              </span>
              <input type="checkbox" name="products__filter-color" class="products__option-checkbox products__option__color-check" id="products__option-red" value="red">
            </div>
            <div class="products__option products__option-color">
              <span class="products__option-title">
                Xanh
              </span>
              <input type="checkbox" name="products__filter-color" class="products__option-checkbox products__option__color-check" id="products__option-blue" value="blue">
            </div>
            <div class="products__option products__option-color">
              <span class="products__option-title">
                Trắng
              </span>
              <input type="checkbox" name="products__filter-color" class="products__option-checkbox products__option__color-check" id="products__option-white" value="white">
            </div>
          </div>
          <div class="products-options products-options-price">
            <div class="products__option products__option-price">
              <span class="products__option-title">
                Dưới 500.000
              </span>
              <input type="checkbox" name="products__filter-price" class="products__option-checkbox products__option__price-check" id="products__option-u500k" value="u500k">
            </div>
            <div class="products__option products__option-price">
              <span class="products__option-title">
                Từ 500.000 đến 3.000.000
              </span>
              <input type="checkbox" name="products__filter-price" class="products__option-checkbox products__option__price-check" id="products__option-500k3m" value="500k3m">
            </div>
            <div class="products__option products__option-price">
              <span class="products__option-title">
                Từ 3.000.000 đến 8.000.000
              </span>
              <input type="checkbox" name="products__filter-price" class="products__option-checkbox products__option__price-check" id="products__option-3m8m" value="3m8m">
            </div>
            <div class="products__option products__option-price">
              <span class="products__option-title">
                Từ 8.000.000 đến 20.000.000
              </span>
              <input type="checkbox" name="products__filter-price" class="products__option-checkbox products__option__price-check" id="products__option-3m20m" value="3m20m">
            </div>
            <div class="products__option products__option-price">
              <span class="products__option-title">
                Trên 20.000.000
              </span>
              <input type="checkbox" name="products__filter-price" class="products__option-checkbox products__option__price-check" id="products__option-o20m" value="o20m">
            </div>
          </div>
        </div>
      </div>
      <div class="products__filters__selected-container w-full py-2 border-t-[1px] border-slate-500">
        <div class="products__selected-wrapper w-full flex flex-row flex-wrap justify-start items-center">

        </div>
      </div>
      <div class="products__list w-full">
        <div class="products__list-container w-full py-3 flex flex-row justify-start items-start flex-wrap">
          <th:block th:each="product,iter: ${listProducts}">
            <a th:href="@{/products/product/{categoryId}(categoryId=${product.bagCategoryId})}" class="products-links"
               th:title="${product.name}">
              <div class="products-links-container">
                <div class="products-image-container">
                  <img th:src="'data:image/png;base64,' + ${product.coverPhoto}" alt="" class="products-image">
                </div>
                <div class="products-info">
                  <h3 class="products-name" th:text="${product.name}">

                  </h3>
                  <h2 class="products-price" th:text="${listProductsPrice[__${iter.index}__]} + '&#8363'">

                  </h2>
                  <div class="products-stars">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);"
                         class="svg-icon star star-1">
                      <path d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);"
                         class="svg-icon star star-2">
                      <path d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);"
                         class="svg-icon star star-3">
                      <path d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);"
                         class="svg-icon star star-4">
                      <path d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);"
                         class="svg-icon star-5">
                      <path d="m6.516 14.323-1.49 6.452a.998.998 0 0 0 1.529 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082a1 1 0 0 0-.59-1.74l-5.701-.454-2.467-5.461a.998.998 0 0 0-1.822 0L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.214 4.107zm2.853-4.326a.998.998 0 0 0 .832-.586L12 5.43l1.799 3.981a.998.998 0 0 0 .832.586l3.972.315-3.271 2.944c-.284.256-.397.65-.293 1.018l1.253 4.385-3.736-2.491a.995.995 0 0 0-1.109 0l-3.904 2.603 1.05-4.546a1 1 0 0 0-.276-.94l-3.038-2.962 4.09-.326z"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </a>
          </th:block>
        </div>
      </div>
    </div>
</body>
</html>