<!-- START HEADER CONTAINER -->
<div class="header-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
>
  <!-- START HEADER LOGO -->
  <div class="header-logo" >
    <a href="/" title="Về trang chủ">
      <img th:src="@{/imgs/logo.png}" alt="Logo">
    </a>
  </div>
  <!-- END HEADER LOGO -->
  <!-- START HEADER SEARCH -->
  <div class="header-search">
    <form action="" class="search-box ">
      <div class="search-wrapper">
        <div class="search-field">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          class="svg-icon search-field__search-icon"
          >
          <path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path>
          </svg>
          <span class="search-box__button-wrapper-close-icon">
                        <div class="button-and-tooltip">
                            <button id="search-box__closebutton" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);"
                                     class="svg-icon"
                                >
                                    <path d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z"></path>
                                </svg>
                            </button>
                        </div>
                    </span>
          <input type="search" placeholder="Tìm túi thôi..."
                 autocapitalize="false" autocomplete="off" spellcheck="false"
                 class="search-field__input">
          <span class="search-box__button-wrapper">
                        <span class="search-box__button-wrapper-item">
                            <div class="button-and-tooltip">
                                <button id="clear-input" class="search-box__button clear-input" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);"
                                         class="svg-icon">
                                        <path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path>
                                    </svg>
                                </button>
                            </div>
                        </span>
                        <span class="search-box__button-spacer-item"></span>
                        <span class="search-box__button-wrapper-item">
                            <div class="button-and-tooltip">
                                <button id="search-box__searchbutton" class="search-box__button search" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);"
                                         class="svg-icon"
                                    >
                                        <path d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"></path>
                                    </svg>
                                </button>
                            </div>
                        </span>
                    </span>
        </div>
      </div>
      <div class="dropdown">

      </div>
    </form>
    <div class="
        dropdown__overlay fade-animation
        ">

    </div>
  </div>
  <!-- END HEADER SEARCH -->
  <!-- START HEADER ICONS -->
  <ul class="header__icons">
    <!-- START PROFILE ICONS -->
    <li id="header-profile" class="
        header__icon
        header__profile-link header__profile-link--hej
        ">
        <a sec:authorize="isAuthenticated()" th:href="@{/pa/account}" class="btn leading-icon btn--small btn--icon-tertiary min-w-[18px] flex flex-row justify-center item-center">
          <span class="btn__inner btn-login-register">
                    <figure th:if="${userAvatar} != null" class="w-8 h-8 mr-2">
                        <img th:src="${userAvatar}" class="w-full h-full object-cover rounded-full">
                    </figure>
                    <figure th:unless="${userAvatar} != null" class="w-8 h-8 mr-2">
                        <img src="/imgs/default_avatar.png" class="w-full h-full object-cover rounded-full">
                    </figure>
                    <span class="btn__label" th:text="${userLastName}"></span>
          </span>
      </a>
      <a sec:authorize="isAnonymous()" href="/login" class="
            btn leading-icon btn--small btn--icon-tertiary
            ">
                <span class="btn__inner btn-login-register">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);"
                         class="svg-icon person__icon"
                    >
                        <path d="M12 2a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z"></path>
                    </svg>
                    <span class="btn__label">
                       Đăng nhập hoặc đăng kí
                    </span>
                </span>
      </a>
    </li>
    <!-- END PROFILE ICONS -->
    <!-- START CART ICONS -->
    <li class="header__icon header__shopping-cart-link" title="Giỏ hàng">
      <a href="/cart/all" class="btn btn--small btn--icon-tertiary">
                <span class="btn__inner js-shopping-cart-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);"
                         class="svg-icon btn__icon"
                    >
                        <path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path>
                    </svg>
                </span>
      </a>
    </li>
    <!-- END CART ICONS -->
    <!-- START HAMBURGER -->
    <li class="header__icon header__hamburger">
      <button class="btn btn--small btn--icon-tertiary" type="button">
                <span class="btn__inner">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);"
                         class="svg-icon btn__icon"
                    >
                        <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
                    </svg>
                </span>
      </button>
    </li>
    <!-- END HAMBURGER -->
  </ul>
  <!-- END HEADER ICONS -->
</div>
<aside class="header__menu">
  <div class="header__menu-top ">
    <div class="header__menu-logo">
      <a href="/">
          <img th:src="@{/imgs/logo.png}" alt="Logo">
      </a>
    </div>
    <div class="header__menu-close">
      <button class="btn btn--small btn--icon-tertiary" type="button">
                <span class="btn__inner">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);"
                         class="svg-icon btn__icon"
                    >
                        <path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path>
                    </svg>
                </span>
      </button>
    </div>
  </div>
  <div class="header__menu-user">
    <div class="user__container">
      <a href="/login" class="btn btn-fluid leading-icon btn--small btn--icon-tertiary">
                <span class="btn__inner">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);"
                         class="svg-icon person__icon"
                    >
                        <path d="M12 2a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z"></path>
                    </svg>
                    <span class="btn__label-sidebar">
                       Đăng nhập hoặc đăng kí
                    </span>
                </span>
      </a>
    </div>
  </div>
  <div class="header__menu-container">
    <nav class="menu-nav">
      <ul class="nav-main">
        <li>
          <a href="" class="nav-link show-prdFilter-link">
            Các sản phẩm
          </a>
        </li>
        <li>
          <a href="support.html" class="nav-link">
            Hỗ trợ
          </a>
        </li>
        <li>
          <a href="/abouts/all" class="nav-link">
            Về chúng tôi
          </a>
        </li>
        <li>
          <a href="sitemap.html" class="nav-link">
            Site map
          </a>
        </li>
      </ul>
    </nav>
    <div class="prdFilter-nav">
      <div class="prdFilter-container">
        <div class="prdFilter-navigation">
          <div class="prdFilter-backBtn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);"
                 class="prdFilter-navigation-back"
            >
              <path d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z"></path>
            </svg>
          </div>
          <p class="prdFilter-navigation-label">Các sản phẩm</p>
        </div>
        <div class="prdFilter__links">
          <ul class="prdFilter__links-container">
            <li class="prdFilter__link-wrapper">
              <a href="/products/all" class="prdFilter__link">
                Tất cả sản phẩm
              </a>
            </li>
            <li class="prdFilter__link-wrapper">
              <a href="/products/newest" class="prdFilter__link">
                Mới nhất
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</aside>
<!-- END HEADER CONTAINER -->