<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="icon" th:src="@{/imgs/logo.png}">
    <link rel="stylesheet" href="css_customer/__base.css">
</head>
<body>
<div class="login opacity-0 transition-all duration-1000">
    <div
            class="
        login__container
        flex
        flex-col md:flex-row lg:flex-row
        justify-between items-center flex-nowrap
        ">
        <div
                class="
            login__left
            bg-blue-700 opacity-95
            px-10 md:px-15 lg:px-20
            py-3 md:py-6 lg:py-12
            w-full md:w-2/5 lg:w-2/5
            flex flex-col justify-between items-start
            flex-initial
            ">
            <div class="login-navigation">
                <a href="/"
                   class="
                    back-link
                    px-1 md:px-3 lg:px-3
                    py-1 md:py-2 lg:py-2
                    flex flex-row justify-start items-center
                    border-transparent border-2 border-dashed rounded-md
                    transition-all duration-200
                    transform
                    -translate-x-8 md:-translate-x-1/4 lg:-translate-x-1/4
                    hover:border-slate-300
                    focus:scale-95
                    ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         class="fill-white inline-block">
                        <path
                                d="M21 11H6.414l5.293-5.293-1.414-1.414L2.586 12l7.707 7.707 1.414-1.414L6.414 13H21z"></path>
                    </svg> <span
                        class="text-white ml-3 text-lg md:text-xl lg:text-xl"> Về
							trang chủ </span>
                </a>
            </div>
            <div class="login-content mt-3 md:mt-0 lg:mt-0">
                <div class="content-top">
                    <h1 class="text-3xl font-bold text-yellow-400">Kết nối</h1>
                    <h1 class="text-3xl font-bold text-white mt-1">với tài khoản
                        của bạn</h1>
                </div>
                <div class="content-bot mt-6">
                    <p class="text-white">Những chiếc túi xinh xắn đang đợi bạn
                        ghé thăm chúng đấy!</p>
                    <p class="text-white mt-2">Đăng nhập để thoả sức chọn chiếc
                        túi ưa thích thôi nào. Bộ sưu tập mùa hè dữ dội đã lên kệ rồi.</p>
                </div>
            </div>
            <div class="login-spacer h-20 hidden md:block lg:block"></div>
        </div>
        <div
                class="
            login__right
            px-6 md:px-10 lg:px-20
            py-6 md:py-10 lg:py-20
            w-full md:w-3/5 lg:w-3/5
            flex flex-row justify-start
            flex-auto
            ">
            <div class="login__main w-full md:w-3/5 lg:w-3/5">
                <div th:if="${param.error != null}">
                    <div class='text-red-500 text-2xl text-center'>Tên đăng nhập
                        hoặc mật khẩu không đúng!</div>
                </div>
                <form th:action="@{/authenUser}" method="post"
                      class="main-form mt-10">
                    <div class="form-comp form-email">
                        <div class="title">
                            <p class="label">Tên đăng nhập</p>
                        </div>
                        <input type="text" placeholder="VD: vitconlonton123"
                               id="emailInput" name="email" autofocus>
                        <p class="notify"></p>
                    </div>
                    <div class="form-comp form-pasword">
                        <div class="title">
                            <p class="label">Mật khẩu</p>
                            <a href=""
                               class="
                                text-blue-500
                                transform
                                transition-all duration-200
                                hover:underline hover:text-blue-700
                                focus:scale-95
                                ">
                                Quên mật khẩu </a>
                        </div>
                        <input type="password" name="password" id="passwordInput"
                               placeholder="*****"
                               class="

                            ">
                        <p class="notify"></p>
                    </div>

                    <div class="w-full flex flex-row justify-start items-center py-1">
                        <input name="remember" class="w-5 h-5" type="checkbox"
                               id="rememberPasswordCheck"> <label class="ml-3"
                                                                  for="rememberPasswordCheck"> Nhớ mật khẩu </label>
                    </div>

                    <input type="submit" id="btnLogin"
                           class="
                        w-full mt-3
                        py-3 md:py-3 lg:py-3
                        bg-blue-600
                        border-transparent border-[1px] border-slate-300 rounded-lg
                        shadow-sm transform
                        transition-all duration-200
                        cursor-pointer
                        text-white
                        hover:shadow-md hover:bg-blue-700
                        focus:scale-95 focus:border-dashed focus:border-slate-800
                        focus:bg-white focus:text-black
                        "
                           value="Đăng nhập" />
                </form>
                <div class="register-link mt-6">
                    <span> Chưa có tài khoản? </span> <a href="/register/all"
                                                         class="
                        text-blue-600
                        font-bold
                        transform
                        transition-all duration-200
                        hover:text-pink-600
                        focus:scale-95 focus:text-pink-600 focus:underline
                        ">
                    Đăng kí ngay </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="script_customer/login.js"></script>
</body>
</html>